body {
    background-image: url('https://www.vinhtuong.com/Data/Sites/1/Product/529/1phaohoa.jpg');
}

.maps {
    padding: 20px 0;
}
.main{
    margin-bottom: 1000px;
}
.information {
    margin-top: -30px;
    margin-left: 20px;
}

textarea {
    width: 96%;
    height: 150px;
    padding: 12px 20px;
}

.btn-primary {
    background: #700d0d;
    border-radius: 0;
    padding: 5px 20px;
}
.form-control{
    margin-left: -15px;
}
.swiper{
    width: 300px;
}